extends base

block content
  header


  .calendar-container
    #calendar
  
  


  link(rel='stylesheet', href='/fullcalendar/main.css')
  link(rel='stylesheet', href='/style.css')
  script(src='/jquery/dist/jquery-3.7.1.min.js')
  script(src='/fullcalendar/main.js')
  script(src='/javascripts/main.js')

