extends base

block content
  header

  .category-container
    ul.category-list
      li.category-item
        a(href='/store/newest') 전체
      li.category-item
        a(href='/store/fashion') 패션
      li.category-item
        a(href='/store/equipment') 기구
      li.category-item
        a(href='/store/food') 식품
